.sidebar-nav {
	margin-top: 20px;
	padding: 0;
	list-style: none;
}

./gallery{
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

.gallery li{
	float: left;
	height: 100px;
	overflow:hidden;
}

.comment-image, .gallery li, .post-small .image, .post-image, .portfolio-item{
	display: block;
	position: relative;
}
